.container {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 30px 50px 30px;
  position: relative;
  top: 100px;
}
h1 {
  margin-top: 10px;
  font-size: 30px;
}
.row {
  margin: 0 auto;
  position: relative;
  left: 50px;
}
.dates .row {
  margin-top: 60px;
}
#temp {
  font-size: 30px;
}
.units {
  position: relative;
  top: -10px;
}
a {
  text-decoration: none;
}
button .btn-outline-dark {
  display: block;
  padding: 20px;
}
