.container {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 30px 50px 30px;
  position: relative;
  top: 100px;
}
h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 50px 0 10px 15px;
}
#weather-attributes {
  margin-left: -60px;
  margin-top: 20px;
}
.row {
  margin: 0 auto;
  position: relative;
  left: 50px;
}
.dates .row {
  margin-top: 50px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature {
  margin-left: 10px;
}
#temp {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 0.5;
}
.units {
  position: relative;
  top: -40px;
  left: 20px;
  font-size: 20px;
}
a {
  text-decoration: none;
}
button .btn-outline-dark {
  display: block;
  padding: 20px;
}
.link {
  position: relative;
  top: 120px;
  left: 350px;
}
ul {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
}
