.container {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
  position: relative;
  top: 100px;
  background: #e4f1fe;
}
body {
  background-image: url(v1015-104a.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  color: #272142;
  font-size: 40px;
  font-weight: 700;
  line-height: 31px;
  line-height: 50px;
  margin: 60px 0 10px 10px;
}
#weather-attributes {
  margin-left: -80px;
  margin-top: 20px;
}
.row {
  margin: 0 auto;
  position: relative;
  left: 50px;
}
.weather-forcast .row {
  margin-top: 70px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature {
  margin-left: 10px;
}
#temp {
  color: #212121;
  font-size: 90px;
  font-weight: 400;
  font-weight: 700;
  line-height: 0.2;
}
.units {
  position: relative;
  top: -40px;
  left: 20px;
  font-size: 20px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}
button .btn-outline-dark {
  display: block;
  padding: 20px;
}
.link {
  position: relative;
  top: 120px;
  left: 350px;
}
ul {
  color: #0dcaf0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
}
